{{ define "main" }}
  <!-- {{ partial "portfolio.html" . }}
  {{ partial "pagination.html" . }} -->
  <div class="logo-wrapper">
    <img src="/img/logo.png" class="hm-logo" />
  </div>

  <div class="cuentaregresiva"></div>

  <p class="contenido">
    Diez años de HackMeeting! Vaya que pasó rápido. Después de 10 años,
    muchas amistades se formaron, muchas personas se conocieron en persona
    y lo más importante... compartimos nuestras experiencias y nuestro conocimiento.
  </p>

{{ end }}
